@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Exo-Bold';
    src: url('./assets/fonts/Exo-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-Reg';
    src: url('./assets/fonts/Exo-Regular.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.bg-mobile {
    background-image: var(--bg-mobile);
}

.bg-desktop {
    background-image: var(--bg-desktop);
}

@media (min-width: 640px) {
    .sm\:bg-desktop {
        background-image: var(--bg-desktop);
    }
}